.cartProducts {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 42rem;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem;
  padding-right: 1.3rem;
  margin-top: 5rem;
  height: auto;
}
